src/main/resources/xsd/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="invoice">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="invoiceNumber" type="xs:string"/>
                <xs:element name="orderNumber" type="xs:string"/>

                <xs:element name="senderGLN" type="xs:string"/>
                <xs:element name="receiverGLN" type="xs:string"/>

                <xs:element name="totalAmount" type="xs:decimal"/>

                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="quantity" type="xs:int"/>
                                        <xs:element name="unitPrice" type="xs:decimal"/>
                                        <xs:element name="totalPrice" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>